<header class='bg-grey-200 py-4 text-grey-900 fixed top-0 left-0 right-0 shadow-sm shadow-[#999] z-50'>
  <div class='container max-w-container mx-auto max-lg:px-4 flex justify-between'>
    <ul class='list-none flex flex-start items-center gap-2'>
      {{#each headerSocialNetworks}}
        <li><a href='{{this.url}}' aria-label='{{this.alt}}'>{{>(lookup . 'svg_path') class="h-4 w-auto fill-grey-900"}}</a></li>
      {{/each}}
    </ul>
    <ul class='list-none flex flex-end text-sm items-center gap-2 uppercase'>

      <li><a href='{{baseUrl}}'>Eyeodin</a></li>
      <li><a href='{{baseUrl}}illustration.html'>Illustration</a></li>
      <li><a href='{{baseUrl}}vtubers.html'>Vtubers</a></li>
      <li><a href='{{baseUrl}}commissions/index.html'>Commissions</a></li>
      <li><a href='{{baseUrl}}plugins/index.html'>Plugins</a></li>
    </ul>
  </div>
</header>
